/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  /* shared style */
  *{
    margin: 0;
    padding: 0 ;
  }
  .display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .primary-btn{
    background-color:rgba(224, 44, 109, 1) ;
    padding: 5px 10px;
    border: 0;
    border-radius: 3px;
    font-weight: 600;
  }
  main{
    background-color: #f5f5f5;
  }
  /* header related style */
  header{
    color: #fff;
    background-color: rgba(45, 37, 160, 1);
  }
  header a{
    text-decoration: none;
    color:#fff;
  }
  /* Nav style */
  nav{
    padding: 20px 130px;
  }
  nav ul{
    gap: 25px;
  }
  nav ul li{
    list-style: none;
    font-weight: 700;
    font-size: 1.25em;
  }
  nav ul li a{
    padding: 10px;
    border-radius: 8px;
  }
  nav ul li a:hover{
    text-decoration: underline;
    background-color: rgba(107, 101, 103, 0.297);

  }
  .login-btn{
    padding: 0px 15px ;
    padding-left: 0;
  }
  nav div a{
    width: 50px ;
    height: 50px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
nav div a:hover{
    background-color: rgba(107, 101, 103, 0.297);
    transition: 0.5s;
}
/* banner section */
#banner{
    padding: 20px 156px;
}
#banner-image{
    width:60% ;
}
#banner-image img{
    max-width: 100%;
}
#banner-title h1{
    font-size: 4em;
    font-weight: 700;
}
#banner-title a{
   width: max-content;
    margin: 19px 0;
}
 #banner-title a:hover{
    transform: translate(3px);
    transition: .05s;
    box-shadow: 0 3px 10px #302e2e;
}
/* content section */
#contents{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 40px 156px;
}
.content {
    margin: 15px;
    background-color: #fff;
    padding: 15px;
    padding-bottom: 25px;
    border-radius: 5px;
}
.content img{
    max-width: 100%;
}
.content h3{
    font-size: 1.75em;
    font-weight: 800;
    margin: 15px 0;
}
.content p{
    color:rgba(108, 108, 108, 1) ;
    line-height: 26px;
    margin: 15px 0;
}
.content:hover{
    box-shadow: 0px 10px 10px #302e2e2b;
}
/* Highlight section */
#highlight{
    padding: 40px 156px;

}
#highlight-title a{
    text-decoration: none;
    color: #fff;
    width: max-content;
    margin: 20px 0;
}
#highlight-title a:hover{
    transform: translate(3px);
    transition: .05s;
    box-shadow: 0 3px 10px #302e2e4c;
}
#highlight-title h3{
    font-size: 3em;
    font-weight: 800;
}
#highlight-title p{
    color:rgba(108, 108, 108, 1) ;
}
#highlight img{
    max-width: 100%;
    border-radius: 5px;
}
/* footer section */
footer{
    text-align: center;
    margin: 0 auto;
    padding: 30px 20px;
}
footer img{
    max-width: 100%;
}
footer div:nth-child(2) img{
    width: 50px;
    height: 50px;
}
footer div:nth-child(3){
    padding-top: 15px ;
}
footer a{
    text-decoration: none;
}
/* media query */
@media screen and (max-width:576px) {
    #banner, #highlight{
        flex-direction: column;
    }
    #banner{
        padding: 20px 30px;
    }
    #banner-image{
        width: 100%;
        margin-top: 20px;
    }
    nav ul li{
        display: none;
    }
    nav{
        padding: 10px 30px;
    }
    #banner-title a{
        width: max-content;
         margin: 19px auto;
     }
     #contents{
        grid-template-columns: repeat(1,1fr);
        padding: 40px 50px;
     }
     #highlight{
        padding: 30px 30px;
     }
}
@media screen and (min-width:577px) and (max-width:992px) {
    nav ul li{
        display: none;
    }
    #contents{
        grid-template-columns: repeat(2,1fr);
        padding: 40px 30px;
     }
     #banner, #highlight{
        flex-direction: column;
    }
    #banner{
        padding: 20px 30px;
    }
    #banner-image{
        width: 100%;
        margin-top: 20px;
    }
    nav{
        padding: 10px 30px;
        gap: 5px;
    }
    #highlight{
        padding: 30px 30px;
     }
}
@media screen and (min-width:993px) {
    #none{
        display: none;
    }
}